
<h2> About us </h2>

<h4>A movie indicator web app is a website that provides information about movies to users.<br>
 This information can include details such as the movie’s release date, information about movies.<br>

The main purpose of a movie indicator web app is to help users decide which movies <br> they may want to watch by providing them with relevant and useful information.<br>

Overall, a movie indicator web app is valuable resource for movie enthusiasts <br> 
who want to stay on top of the latest developments in the film industry make informed decisions about to watch</h4>
