
        <!-- Footer -->
        <footer id="footer" class="page-footer font-small blue-grey lighten-5">

            <div style="background-color: #f3f3f3;">
              <div class="container">
  
                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">
  
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Contact us!</h6>
                  </div>
  
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
  
                    <!-- Github -->
                    <a href="https://github.com/senaitfikadu/"  style="background:#0656ff" type="button" class="btn btn-circle-with-icon" target="_blank">
                        <i class="fa fa-github white-text mr-4" style="color:white;"></i>
                    </a>

                    <!-- Google +-->
                    <a href="senaitfikadu44@gmail.com"  style="background:#0656ff" type="button" class="btn btn-circle-with-icon" target="_blank">
                        <i class="fa fa-google-plus white-text mr-4" style="color:white;"></i>
                    </a>
                    <!--Linkedin -->
                
                    <a href="https://www.linkedin.com/in/senait-fikadu-350852244/"  style="background:#0656ff" type="button" class="btn btn-circle-with-icon" target="_blank">
                        <i class="fa fa-linkedin white-text mr-4" style="color:white;"></i>
                    </a>

  
              </div>
            </div>
  
            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">
  
              <!-- Grid row -->
              <div class="row mt-3 dark-grey-text">
  
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
  
  
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
  
  
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
  
            </div>
            <!-- Footer Links -->
  
            <!-- Copyright -->
            <div class="footer-copyright text-center text-black-50 py-3">© 2023 created by senait:
            </div>
            <!-- Copyright -->
  
        </footer>
          <!-- Footer -->